{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block body %}

<!-- start banner -->
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1>{{course.title}}</h1>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end banner -->



<!-- start course-des -->

<section class="course-description">
    <div class="container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                    aria-controls="pills-home" aria-selected="true">DESCRIPTION</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                    aria-controls="pills-profile" aria-selected="false"> FEATURES</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                    aria-controls="pills-contact" aria-selected="false">APPLY</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">

                    <div class="col-md-12">
                        <div class="des In-Touch">
                            <h2>ABOUT THIS COURSE</h2>
                            <p class="lead">{{course.description}}
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="des In-Touch">
                            <h2>FAQs</h2>
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                Can I just enroll in a single course? I'm not interested in the
                                                entire Specialization
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            {% lorem 2 random %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                                aria-controls="collapseTwo">
                                                What is the refund policy?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            {% lorem 2 random %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                            <button class="btn btn-block text-left collapsed" type="button"
                                                data-toggle="collapse" data-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                What background knowledge is necessary?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            {% lorem 2 random %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row">
                    <div class="col-md-8">
                        <div class="feat">
                            <div class="feat-img">
                                <img src="{{course.image.url}}" alt="" style="width: 100%;">
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feat-inf In-Touch">
                            <ul>
                                <li class="lead"><i class="fa fa-male"></i> Instructor : {{course.instructor}} </li>
                                <li class="lead"><i class="fa fa-clock"></i> Duration : {{course.duration}} Weeks </li>
                                <li class="lead"><i class="fa fa-book"></i> Lectures : {{course.leactures}} </li>
                                <li class="lead"><i class="fa fa-sticky-note"></i> Quizzes : {{course.quizzes}} </li>
                                <li class="lead"><i class="fa fa-certificate"></i> Certification :
                                    {{course.certification}} </li>
                                <li class="lead"><i class="fa fa-copyright"></i> Category : {{course.category}}</li>
                                <li class="lead"><i class="fa fa-tag"></i> Price : {{course.price}} $ </li>
                                <li class="lead"><i class="fa fa-tag"></i> Applies : {{app}} </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <form method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}

                    <button type="submit" class="btn btn-primary">APPLY</button>
                </form>
            </div>
        </div>

    </div>
</section>

<!-- end course-des -->

{% endblock %}